.title-hero-section {

  //padding: 1rem;
  align-items: center;
  color: white;
  //display: flex;
  flex-direction: column;
  height: 102%;
  justify-content: center;
  top: 0;
  z-index: 1;
  text-shadow: black 0.1em 0.1em 0.2em;

  @media (min-width: map-get($grid-breakpoints, md)) {
    align-items: inherit;
    position: absolute;

  padding: 1rem;
  padding: 1;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 102%;
  justify-content: center;
  top: 0;
  z-index: 1;
  text-shadow: black 0.1em 0.1em 0.2em;

  }

   @media (min-width: map-get($grid-breakpoints, lg)) {
     align-items: baseline;
     color: white;
     display: flex;
     flex-direction: column;
     height: 70%;
     justify-content: flex-end;
     left: 9%;
     position: absolute;
     top: 0;
     z-index: 1;
     text-shadow: black 0.1em 0.1em 0.2em;
  }
}



